#post-item {
    background-color: #eee;
	border: 2px solid #ccc;
    padding: 10px 20px 50px 20px;
}

#post-item h1,
#post-item h2 {
    color: #333;
}

nav ul li {
    list-style-type: square;
}

nav > ul > li {
    list-style-type: disc;
}

p + img {
	border: 4px solid #fff;
}